.hero-box {
    height: 850px;
    background-color: lightpink;
    background-image: url(https://www.tesla.com/ns_videos/homepage/homepage-modelx.jpg);
    background-size: cover;
    margin: 1%;
}

.home {
    color: #FEFEFE;
    font-size: 50px;
    padding-top: 10px;
    padding-left: 30px;
}

.img {
    color: rgba(74, 74, 74, 0.58);
    font-size: 55px;
    padding-top: 120px;
    padding-left: 60px;
}

