.hero-box {
    height: 709px;
    background-color: lightpink;
    background-image: url(img/000027.jpg);
    background-size: cover;
    margin: 1%;
}

.home {
    color: #FEFEFE;
    font-size: 50px;
    padding-top: 10px;
    padding-left: 30px;
}

.img {
    color: #FEFEFE;
    font-size: 55px;
    padding-top: 120px;
    padding-left: 60px;
}

a {
	text-decoration: none;
	color: #2BA273;
    font-size: 40px;
    padding-top: 10px;
    padding-left: 20px;
    
}
